.car-info {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.car-info .tags {
  margin-top: 10px;
}

.car-info .tag {
  display: inline-block;
  background-color: #eee;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.car-info img {
  /* width: 50%; */
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  width: 400px;
}

.carousel .control-arrow {
  background: rgba(128, 128, 128, 0.5); /* Grey translucent background */
  width: 50px; /* Increase the width */
  height: 50px; /* Increase the height */
  
}
